
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


* {font-family: 'Readex Pro';}


a {
    text-decoration: none;
    color: rgb(248, 248, 248) !important;
    font-weight: 500;
}

a:hover {
    color: #2643c7 !important;
    text-decoration: none;
}

ul {list-style-type: none;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}